---
export interface Props {
  title: string;
  description: string;
  titleBorderColor?: string;
  titleBackgroundColor?: string;
}

import { nextColor } from '../components/ColorCycle.js';

const color = nextColor();

const titleBorderColor = Astro.props.titleBorderColor ?? color;
const titleBackgroundColor = Astro.props.titleBackgroundColor ?? color;
const { title, description } = Astro.props as Props;
---

<div class="not-content card">
    <h2 style={`border: 2px solid rgba(${titleBorderColor}, .8); background-color: rgba(${titleBackgroundColor}, 0.25);`}>{title}</h2>
    <p>{description}</p>
</div>

<style>
    .card {
        border: 1px solid #464646;
        border-radius: 1px;
        padding: 30px;
    }
    .card h2 {
        font-family: 'Tahoma', sans-serif;
        color: #ffffff;
        padding: 5px;
        border-radius: 5px;
        font-size: 1.4em;
        margin-bottom: 8px;
    }
    .card p {
        font-family: 'Tahoma', sans-serif;
        color: #c9c9c9;
        font-size: 1em;
    }
    @media (prefers-color-scheme: light) {
        .card {
            background-color:#e2e2e2d2
        }
        .card h2{
            color: #424242;
        }
        .card p {
            color: #000000;
        }
    }
</style>