---
export interface Props {
  title: string;
  description: string;
  titleBorderColor?: string;
  titleBackgroundColor?: string;
}

const { title, description } = Astro.props as Props;
---

<div class="not-content card">
    <h2>{title}</h2>
    <p>{description}</p>
</div>

<style>
    .card {
        border-radius: 0.25rem;
        padding: 1rem;
        min-height: 100px;
        font-size: 0.9rem;
    }
    .card h2 {
        font-size: 1.25rem;
    }
</style>